@import "@/styles/reset.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    src: url("../public/fonts/AmazonEmber_W_LtIt.woff");
    font-family: "AmazonEmber";
  }
}

body {
  background: #282c34;
  color: white;
}
html {
  scroll-behavior: smooth;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2s);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  border: 3px solid var(--primary);
}
